{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="content">
    <div class="space-y-5">
        <h1 class="md:text-5xl text-xl font-bold">👋 Hey {{user.first_name}}</h1>
        {% if user.is_staff %}
        <button class="font-bold p-5">
            <a class="p-5" href="/monitor/">Monitor Poll</a>
        </button>
        {% endif %}

        {% if voting_allowed.voting %}
        <h3>Voting is opened</h3>
        {% else %}
        <h3>Voting is closed</h3>
        {% endif %}
    </div>
    <form id="vote">
        <div id="social" class="mt-10">
            <div>
                <h1 class="text-2xl font-bold py-2" id="current_position"></h1>
                <hr />
            </div>
            <div class="grid sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 my-9 gap-6" id="card-container"></div>
            <div class="flex justify-center mb-5">
                <button class="px-5 py-2 bg-green-700">Vote</button>
            </div>
        </div>
    </form>
</div>

{% endblock content %}
{% block js %}
<script src="{% static 'js/poll.js' %}"></script>
{% endblock js %}