{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">

<head>
	<title>Django Tailwind</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	{% tailwind_css %}
</head>



<body class="{% if '/sign-in/' in request.path %}bg-gray-50 dark:bg-gray-900{% endif %} 
	bg-slate-50 md:px-20 px-3 py-4 mx-auto">
	{% block content %}

	{% endblock content %}
	{% block js %}
	{% endblock js %}
</body>


</html>